name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  msrv:
    name: Minimum supported Rust version
    runs-on: ubuntu-latest
    env:
      minrust: "1.89"

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install Rust ${{ env.minrust }}
        run: rustup default ${{ env.minrust }}

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Run cargo check
        run: cargo check --all-features

  test:
    name: Test
    needs: [msrv]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Run cargo test
        env:
          RUSTFLAGS: -D warnings
        run: cargo test --all-features

  clippy:
    name: Clippy
    needs: [msrv]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Run clippy
        env:
          RUSTFLAGS: -D warnings
        run: cargo clippy --all-features --tests --examples

  build-docs:
    name: Build docs
    needs: [msrv]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Build docs
        env:
          RUSTDOCFLAGS: -D rustdoc::broken_intra_doc_links
        run: cargo doc --no-deps --all-features

  rustfmt:
    name: Format
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Run cargo fmt
        run: cargo fmt --all -- --check

  codespell:
    name: Spelling
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Run Codespell
        uses: codespell-project/actions-codespell@v2
